$textColor: white;

@font-face {
    font-family: 'Circular';
    src: local('Circular'), url(../../fonts/circular.otf) format('truetype');
  }

h1{
    font-family: Circular;
    color: $textColor;
    font-size: 70px;
    padding-top: 0px;
    margin-top: 0px;
    overflow: hidden;
}

div{
    padding-top: 0px;
    margin-top: 0px;
}