@import '../../_colors.scss';

Link{
  background-color: yellow;
}

.navHeading {
  color: $textColor;
  font-family: Romans;
  font-size: 30px;
  padding:  0px 15px 0px 15px;
  margin: 0px 0px !important;
  border: 1px solid red;
}

.navHeading:hover{
  background-color: $secondaryColor;
}

a{
    float: left;
    padding: 0px;
    margin: 0px;
}

.navbar {
    background-color: $highlightColor;
    position: fixed;
    z-index: 999;
    width: 100%;
    border-radius: 0%;
}