@import '../../_colors.scss';

.navItem {
  color: $textColor;
  font-family: Romans;
  font-size: 30px;
  padding:  0px 15px 0px 15px;
  margin: 0px 0px 0px 0px !important;
  float: left;
}

.navItem:hover{
  background-color: $secondaryColor;
  color: $textColor;
  text-decoration: none;
}

.navbar {
    display: block;
    background-color: $highlightColor;
    position: fixed;
    overflow: none;
    z-index: 999;
    // width: ;
    width: 100%;
    border-radius: 0%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}