// $textColor: white;
// $backgroundColor: black;
// $highlightColor: blue;
// $foregroundColor: #9BEFBE;
// $secondaryColor: red;

$textColor: #9EC5AB;
$backgroundColor: #011502;
$highlightColor: #32746D;
$foregroundColor: blue;
$secondaryColor:#104F55;