@font-face {
    font-family: 'Circular';
    src: local('Circular'), url(fonts/circular.otf) format('truetype');
  }

@font-face {
    font-family: 'Romans';
    src: local('Romans'), url(fonts/romans.ttf) format('truetype');
  }

@font-face {
    font-family: 'Source-Code-Bold';
    src: local('Source-Code-Bold'), url(fonts/SourceCodePro-Bold.ttf) format('truetype');
  }

@font-face {
    font-family: 'Source-Code-Regular';
    src: local('Source-Code-Regular'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
  }

@font-face {
    font-family: 'Source-Code-Light';
    src: local('Source-Code-Light'), url(fonts/SourceCodePro-Light.ttf) format('truetype');
  }

@font-face {
    font-family: 'Source-Code-ExtraLight';
    src: local('Source-Code-ExtraLight'), url(fonts/SourceCodePro-ExtraLight.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Source-Code-SemiBold';
    src: local('Source-Code-SemiBold'), url(fonts/SourceCodePro-SemiBold.ttf) format('truetype');
  }